.navWrap {
    position: relative;
    width: 100%;
    height: 10%;
    padding: 10px;
    z-index: 10;
    background: none;
    transition: all 0.5s;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #00000090 0%, #00000000 100%);
        opacity: 0;
        transition: all 0.5s;
    }

    &.fixed {
        position: fixed;

        &::before {
            opacity: 1;
        }

        nav {
            h1 {
                height: 80%;
                bottom: 50%;
                transform: translateY(50%);
            }
        }

        .formLink {
            width: 160px;
            opacity: 1;
            margin-left: 4rem;
            margin-right: 1.3rem;
        }
    }

    nav {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        background-color: rgba(255, 255, 255, 0.2);
        /* 背景色 */
        border: 1px solid rgba(255, 255, 255, 0.4);
        /* ボーダー */
        border-right-color: rgba(255, 255, 255, 0.4);
        border-bottom-color: rgba(255, 255, 255, 0.4);
        border-radius: 15px;
        -webkit-backdrop-filter: blur(20px);
        /* ぼかしエフェクト */
        backdrop-filter: blur(20px);
        box-shadow: 0 5px 20px #33333380;

        /* 薄い影 */
        h1 {
            position: absolute;
            left: 5rem;
            bottom: 1.2rem;
            height: 180%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.5s;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        ul {
            display: flex;

            li {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: 4rem;

                a {
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    flex-flow: column;
                    font-size: 2rem;
                    font-weight: 600;
                    color: #fff;

                    span {
                        position: absolute;
                        display: block;
                        transition:
                            clip-path 0.5s,
                            background 0.5s;
                        font-weight: 800;
                        top: 85%;
                        right: 0;
                        clip-path: polygon(100% 0,
                                100% 0,
                                100% 100%,
                                100% 100%);
                        font-size: 1.5rem;
                        background: linear-gradient(133deg,
                                #d61717 0%,
                                #ff6b00 100%);
                        background-clip: text;
                        color: transparent;
                    }
                }

                &:hover {
                    a {
                        span {
                            clip-path: polygon(0% 0,
                                    100% 0,
                                    100% 100%,
                                    0% 100%);
                        }
                    }
                }
            }
        }
    }
}

.formLink {
    margin-right: 4rem;
    position: relative;
    display: flex;
    width: 0px;
    // width: 160px;
    height: 50px;
    font-size: 2rem;
    background: linear-gradient(135deg, #ff6b00 0%, #d61717 100%);
    border-radius: 1.2rem;
    color: #fff;
    transition: all 0.5s;
    overflow: hidden;
    opacity: 0;

    a {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 160px;
        height: 50px;
        color: inherit;
        font-weight: 600;
    }

    &:hover {
        transform: scale(1.04);
        box-shadow: 0 2px 8px #00000020;
    }
}