.mainVisual {
    width: 100%;
    height: 100vh;
    background: url(/assets/mainVisual.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .mainVisualText {
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 8%;
        z-index: 100;
        gap: 32px;

        .mainVisualTextTitle {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 8rem;
            font-weight: 800;
            color: #fff;
            text-align: right;
            text-shadow: 0 2px 8px #00000080;
        }

        .mainVisualTextLink {
            position: relative;
            height: 64px;
            width: 300px;
            color: #fff;
            text-align: right;
            background-color: rgba(255, 255, 255, 0.2);
            /* 背景色 */
            border: 1px solid rgba(255, 255, 255, 0.4);
            /* ボーダー */
            border-right-color: rgba(255, 255, 255, 0.4);
            border-bottom-color: rgba(255, 255, 255, 0.4);
            border-radius: 15px;
            -webkit-backdrop-filter: blur(20px);
            /* ぼかしエフェクト */
            backdrop-filter: blur(20px);
            box-shadow: 0 5px 20px #33333380;
            border-radius: 1.2rem;
            overflow: hidden;



            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 300px;
                height: 300px;
                background: linear-gradient(135deg, #ff6b00 0%, #d61717 100%);
                opacity: 0;
                z-index: -2;
                transition: all 1s;
            }

            &:hover {


                &::before {
                    animation: rotateInfinite 2s linear infinite;
                    opacity: 1;
                }


            }

            @keyframes rotateInfinite {
                from {
                    transform: translate(-50%, -50%) rotate(0deg);
                }

                to {
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            }

            a {
                font-size: 2.2rem;
                font-weight: 800;
                color: inherit;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }



    }
}