.member {
    position: relative;
    width: 320px;
    height: 400px;
    margin: 4rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0 2px 8px #00000020;
    transition: transform 0.5s;


    &:hover {
        transform: scale(1.02);

        .memberMessage {
            opacity: 1;
            transform: translateX(-50%) translateY(-20%) scale(1.2);
        }

        .position {
            transform: translate(-25%, -25%) rotate(-10deg);
        }
    }

    .memberMessage {
        opacity: 0;
        transition: opacity 0.2s, transform 0.2s;
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%) translateY(-10%);
        width: 100%;
        height: 64px;

        display: flex;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0 2px 8px #00000030);
        z-index: 10;

        p {
            padding: 1rem;
            font-weight: 500;
            border-radius: 1.2rem;
            font-size: 1.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background: #fff;

            &::before {
                content: '';
                width: 2rem;
                height: 2rem;
                background: #fff;
                position: absolute;
                bottom: -0.5rem;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
            }
        }
    }

    .memberImage {
        width: 100%;
        height: 55%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 0 -30px;
            border-top-left-radius: 1.2rem;
            border-top-right-radius: 1.2rem;
        }
    }

    .field {
        margin: 10px auto 0;
        width: calc(100% - 20px);
        height: calc(12% - 10px);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        border-radius: 50vh;
        // margin: 10px;
        // overflow-wrap: normal;
        // word-break: keep-all;
        color: #fff;

        &.engineer {
            background: linear-gradient(135deg, #0085FF 0%, #17BFD6 100%);

            ;
        }

        &.designer {
            background: linear-gradient(135deg, #FF6B00 0%, #FFA800 100%);
        }

        &.director {
            background: linear-gradient(135 deg, #22F137 0%, #1ECB2F 0.01%, #24FF00 100%);
        }
    }

    .memberParam {
        width: 100%;
        height: 33%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        justify-content: space-between;

        span {
            font-size: 1.6rem;
        }


        .memberName {
            font-size: 2.4rem;
            text-align: center;
            // margin-bottom: 0.8rem;

            span {
                text-align: center;
                display: block;
                font-size: 1.2rem;
            }
        }

        .memberCourse,
        .memberHobby {
            width: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            font-size: 1.8rem;

            h5 {
                font-size: 1.4rem;
                font-weight: normal;
                background: #eee;
                border-radius: 0.5rem;
                padding: 0 0.5rem;
                margin-right: 0.5rem;
            }

            p {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .memberCourse {
            &.it {
                font-size: 1.8rem;
            }
        }

    }

    .position {
        width: 10rem;
        height: 10rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        transform: translate(-25%, -25%) rotate(-5deg);
        border-radius: 50%;
        color: #fff;
        background: linear-gradient(135deg, #d61717 0%, #ff6b00 100%);
        box-shadow: 0 2px 8px #00000040;
        font-size: 2.5rem;
        font-weight: 700;
        z-index: 1;
        transition: transform 0.5s;
    }
}