.sectionTitle {
    h2 {
        position: relative;
        color: var(--text-color);
        font-size: 6rem;
        text-align: center;
        margin-top: 20rem;
        margin-bottom: 3rem;

        span {
            bottom: -3rem;
            // left: -4rem;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            text-align: center;
            opacity: 0.05;
            font-size: 16rem;
        }
    }

    // レスポンシブ対応
    @media screen and (max-width:430px) {
        h2 {
            position: relative;
            font-size: 4.5rem;

            span {
                position: absolute;
                left: 50%;
                bottom: -.25rem;
                font-size: 8rem;

            }
        }
    }
}